<p>
    <strong>Album Title:</strong>
    <%= @record.album_title %>
</p>

<div class='record-info'>
  <h2>Album Info</h2>
  <p>Album Title: <%= @record.album_title %></p> 
  <p>Album Artist: <%= @record.artist %></p> 
  <p>Album Genre: <%= @record.genre %></p> 
  <p>Released: <%= @record.release_year %></p>


</div>
